<ActionBar title="Weather-App">
</ActionBar>

<GridLayout>
    <ScrollView>
        <StackLayout backgroundColor="#ededed">
            <panel></panel>
            <label backgroundColor="#c6c5cb" height="2px"></label>
            <panel></panel>
            <label backgroundColor="#c6c5cb" height="2px"></label>
            <panel></panel>
            <label backgroundColor="#c6c5cb" height="2px"></label>
            <panel></panel>
            <label backgroundColor="#c6c5cb" height="2px"></label>
            <panel></panel>
        </StackLayout>
    </ScrollView>
</GridLayout>